# app
APP_URL=http://localhost:5173

# mongo
MONGO_CONNECTION_STRING=mongodb+srv://rstrsg11:rstrsg11@projects.helxlxu.mongodb.net/onlineict?retryWrites=true&w=majority

# stripe
STRIPE_SECRET_KEY=sk_test_51P1m4TP0KguBZPWQ7yD36wJ8cdf2rGloRuWowVBS47IQttWD8LFm60Uqj9mMX3vcXrmBVyUdo9Oo4ZgdLl2A1Z8E00eBnxdK2S